:root {
  --text-color: hsla(0, 0%, 0%, 0.75);
  --bg-color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsla(0, 0%, 100%, 0.75);
    --bg-color: hsl(0, 0%, 0%);
  }
}

.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5rem + 2vmin);
  color: var(--text-color);
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
